/* line 1, /home/marin/Documents/website/app/assets/stylesheets/components/containers.scss */
.container {
  display: flex;
  margin: 1em;
  height: 100vh;
}

/* line 7, /home/marin/Documents/website/app/assets/stylesheets/components/containers.scss */
.inner {
  width: 65%;
  margin: auto;
}

/* line 12, /home/marin/Documents/website/app/assets/stylesheets/components/containers.scss */
.main {
  padding: 1em 2em;
  overflow: auto;
}

/* line 17, /home/marin/Documents/website/app/assets/stylesheets/components/containers.scss */
.left-pan {
  display: flex;
  flex-direction: row-reverse;
  text-align: right;
  border-right: 1px solid grey;
  margin: 1em 0em;
  padding: 1em;
}
