<html>
   <head>
      <title>Whoops 404</title>
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
   </head>

   <body>
      <div class="container inner">
         <%= render "nav" %>
         <div class="main">
            <section>
               <header>
                  <h1>
                     404
                  </h1>
                  <p>
                     404
                  </p>
               </header>
               <article>
                  Well I guess it's a 404.
               </article>
            </section>
         </div>
      </div>
   </body>
</html>
