<article>
    <header class="presentation">
        <h3 id="whoami">
            Who am I ?
        </h3>
    </header>
    <section>
        <p>
            Marin Procureur, a 21 y.o. french guy living in Paris, FR. Curious but involved, searching complexity where there is none (especially in development), self-taught guitarist, video games player (used to be pretty good at Starcraft II), and sometimes traveller. To be brief, I have two main passions, music and IT. This is probably what the website is going to be about.
        </p>
    </section>
</article>
<article>
    <header class="presentation">
        <h3>
            What am I doing with my life ?
        </h3>
        <p>
            Well many things
        </p>
    </header>
    <section>
        <header class="presentation">
            <h4>
                I was Working...
            </h4>
        </header>
        <p>
            I worked in a wonderful and small company called <a href="http://enioka.com">enioka</a> for two and a half years. There, I was frontend web developer on a project called <a href="http://itlivemaps.com">IT Live Maps</a>, and an always learning consultant in IT architecture. As all respectable frontend developer I was during my worktime designing, developing, and maintaining a JavaScript library, <a href="https://github.com/enioka/ij.js">ij.js</a>, it is willing to help you browse graph or pivot table matrix data in row/columns.
        </p>
        <p>
            I left the company to focus on another project called <a href="http://blank.bellevillecitoyenne.fr">_blank</a>.
        </p>
        <p>
            It is a social IT school called <a href="http://blank.bellevillecitoyenne.fr">_blank</a> that we are founding and developing with some friends. Divided in five phases (familiarization with the environment, basics of web programming client side and server side, group project, short mission or internship, support and care about their future). The format of this school is probably special because of the huge part dedicated to practice programming even in the first phases. We also organise a conference every week on a different subject than web programming (security, VR, linux, IT law, etc...). For a total of 600 hours of classes, practice, internship, and projects over six months, we hope that those who ended up here by chance (or by accident) will be on a new path.
        </p>
        <br/>
        <p>
            Oh well, and I am co-director of studies there.
        </p>
    </section>
    <section>
        <header class="presentation">
            <h4>... and I'm doing some things during my free time</h4>
        </header>
        <p>
            I'm always tring new programming stuff like languages, algorithms, designs, or even coding approachs (TDD, BDD, etc.). If you want to know what I'm up to (currently <a href="https://golang.org"/>go</a>) check out my <a href="https://github.com/FaXaq">github</a>.
        </p>
        <br/>
        <p>
            Guitar ! Moar guitar ! Kind of a blues player, I am currently learning a bit of music theory. I'm playing mostly on electric.
        </p>
        <br/>
        <p>
            My player part would not be satisfied if I didn't do something about it. So with a good friend of mine we founded an association called <a href="https://facebook.com/SHiELDp">SHiELD</a>. Its purpose is to gather french student players and have fun together while playing, organising tournaments, and attending events ! Other than that, it may seem naive, but I believe in the fact that players can learn a lot from video games, this is why we try to make conferences regularly about a subjet which concerns video games as well as a more likely profesionnal subjet (IT, marketing, advertising, etc.).
        </p>
        <br/>
        <p>
            Well, I overextended. So it is time for me to stop.
        </p>
    </section>
    <footer>
        <p>
            I will not end by a meaningless / stolen quote.
        </p>
    </footer>
</article>
