<section>
   <header>
      <h1>
         I guess I have no idea for the front page yet. So here is a big title.
      </h1>
      <p>
         You can still check out my <%= link_to "blog", "blog" %> and my <%= link_to "about me", "aboutme" %>
      </p>
   </header>
   <article>
   </article>
</section>