<article>
   <header class="presentation">
      <h1>
         I have no idea for the front page yet. So here is a big title.
      </h1>
      <p>
         You can still check out my <%= link_to "blog", "blog" %> and my <%= link_to "about me", "aboutme" %> pages.
      </p>
   </header>
   <section>
   </section>
</article>
