<article>
    <header class="presentation">
        <h3 id="projects">
            In construction
        </h3>
    </header>
    <p>Please see my projects on my <a href="/resume#projects">resume page</a> or on my <a href="/aboutme" >aboutme page</a></p>
</article>
