<article class="resume">
    <header>
        <%= image_tag "profile.png", class:"pp" %>
        <div class="legalinfos">
            <h2>Marin Procureur - Developer</h2>
            <p>Paris - France</p>
            <p><i>21yo</i></p>
            <p><i>Contact : <a href="https://norra.fr">norra.fr</a> or <a href="mailto:marin.procureur@gmail.com">marin.procureur[at]gmail.com</a></i></p>
        </div>
    </header>
    <div class="separator h"></div>
    <section id="aboutme">
        <header>
            <h2>About me</h2>
        </header>
        <p>
            Passionate about Software Development and the knowledge sharing that is implied in it, I am looking for a professional experience in London from 1st of April until end of October 2017.
        </p>
        <p>
            Even though I am interested by the technical side of IT I do not forget the human side, and benefits that can be taken. This is why during the last two years I have helped at first as a teacher and now as co-director of studies a project called <a href="http://blank.bellevillecitoyenne.fr">_blank</a>. It is a social web development school based in Belleville neighborhood in Paris, France.
        </p>
        <p>
            I'm mostly self-taught (except for the programming guidelines) on JavaScript which is my predilection programming language.
        </p>
    </section>
    <div class="separator h"></div>
    <section id="experiences">
        <header>
            <h2>Experiences</h2>
        </header>
        <article>
            <section>
                <header>
                    <h3>_blank - Belleville citoyenne</h3>
                    <p><i>11/2015 - Today</i></p>
                </header>
                <p>
                    <b>
                        2015/2016 : Web development Teacher (HTML, CSS, Javascript).
                    </b>
                </p>
                <ul>
                    <li>
                        Teaching to apprentices taken out from regular school.
                    </li>
                    <li>
                        Professional and scholastic re-integration.
                    </li>
                    <li>
                        Training took place every evening from 7pm to 9pm each tuesday and thurday during 4 months.
                    </li>
                    <li>
                        We had 3 regular students and over 10 non-regular ones.
                    </li>
                </ul>
                <p>
                    Since last year we made a lot of changes and improved seriousness of the training.
                </p>
                <p>
                    <b>
                        2016/2017 : Co-Director of Studies
                    </b>
                </p>
                <ul>
                    <li>
                        All content created are available here : <a href="https://github.com/blank-project/_blank">https://github.com/blank-project/_blank</a>.
                    </li>
                    <li>
                        Teaching to apprentices taken out from regular school (mondays and tuesdays from 1pm to 9pm).
                    </li>
                    <li>
                        Writing of classes about web essentials (HTML,CSS,Javascript,PHP,SQL)
                    </li>
                    <li>
                        Stepping up the frequency of classses. We went from 4h per week to 24h per week.
                    </li>
                    <li>
                        This involved creation of a planning and rigour regarding the educational content and technologies to deploy classes (moodle, github, reveal.js).
                    </li>
                    <li>
                        Besides we have been recognized as a "Grand École du Numérique" by the french administration.
                    </li>
            </p>
            <p>
                Today, we have twelve regular students willing to come every monday and tuesday from 1pm to 9pm and every friday from 10am to 8pm to take our classes and learn web development.
            </p>
            </section>
            <section>
                <header>
                    <h3>enioka - <a href="http://enioka.com">http://www.enioka.com</a></h3>
                    <p><i>08/2014 - 10/2016</i></p>
                </header>
                <p>
                    <b>
                        2014 : Intern.
                    </b>
                </p>
                <ul>
                    <li>
                        Frontend vanilla JavaScript development on a modeling tool. No framework except use of inheritance.js, go.js, jQuery and jQuery plugins when needed.
                    </li>
                    <li>
                        The development took place on a web application named "modeler" that used data modeling to model Information System complexity and help resolve complex issues.
                    </li>
                </ul>
            </p>
            <p>
                <b>
                    2014 / 2016 : Apprentice, Consultant and Web developer.
                </b>
                <a href="http://itlivemaps.com">http://itlivemaps.com</a>
            </p>
            <ul>
                <li>
                    Deployment and maintenance of the modeler at different client places (small, medium and big companies).
                </li>
                <li>
                    Map several informations systems on four plans (functionnal, applicative, infrastructure, and process) into the modeler.
                </li>
                <li>
                    Specific development for several clients (including special maping, special views and update of modeler core).
                </li>
                <li>
                    Part of the modeler team creating a road map for the modeler web application.
                </li>
                <li>
                    Design enhancement of the modeler core. And thoughts about design issues in the modeler core.
                </li>
            </ul>
            </p>
            <p>
                <b>
                    2015 / 2016 : Web developer.
                </b>
                <a href="https://github.com/enioka/ij.js">https://github.com/enioka/ij.js</a>
            </p>
            <p>
                <ul>
                    <li>
                        Creation of a matrix data representation librabry (called ij.js) for the company. It can be used in or out of the modeler and is available on github : <a href="https://github.com/enioka/ij.js" >https://github.com/enioka/ij.js</a>
                    </li>
                    <li>
                        Use of this librabry to create a matrix view in the modeler.
                    </li>
                </ul>
            </p>
            </section>
            <section>
                <header>
                    <h3>Servier - <a href="http://servier.fr">http://servier.fr</a></h3>
                    <p><i>07/2013 - 10/2013</i></p>
                </header>
                <p>
                    Intern.
                </p>
                <ul>
                    <li>
                        Development of a JavaScript web based mobile application with persistent storage. This application could be used to render data charts with d3.js.
                    </li>
                    <li>
                        Technological surveillance on chart javascript libraries.
                    </li>
                </ul>
            </section>
            <section>
                <header>
                    <h3>Docteur Souris - <a href="http://www.docteursouris.fr/">http://www.docteursouris.fr/</a></h3>
                    <p><i>02/2013 - 06/2013</i></p>
                </header>
                <p>
                    Area Manager (Hôpital Necker & CHU Bicêtre)
                </p>
                <ul>
                    <li>
                        Delivery of company used PCs to children in hospitals.
                    </li>
                    <li>
                        Support, and securing of Windows PCs.
                    </li>
                    <li>
                        Deployment of an Open Wifi in two hospitals.
                    </li>
                </ul>
            </section>
        </article>
    </section>
    <div class="separator h"></div>
    <section id="projects">
        <header>
            <h2>Projects</h2>
        </header>
        <article>
            <section>
                <header>
                    <h3>_blank - <a href="http://blank.bellevillecitoyenne.fr">http://blank.bellevillecitoyenne.fr</a></h3>
                    <p>Paris - Belleville - Social Web development School</p>
                </header>
                <p>
                    At first this social school was a project but it has become more than that. Now it is my job until April 2016.
                </p>
            </section>
            <section>
                <header>
                    <h3>SHiELD Initiative - <a href="http://shieldup.fr">http://shieldup.fr</a></h3>
                    <p>Paris - Gamer association</p>
                </header>
                <p>
                    With friends we have created an association for gamers
                </p>
            </section>
            <section>
                <header>
                    <h3>ij.js - <a href="https://github.com/enioka/ij.js">https://github.com/enioka/ij.js</a></h3>
                    <p>Matrix data rendering - JavaScript (inheritance.js, gulp, jasmine)</p>
                </header>
                <p>
                    During my internship at enioka they offered me the possibility to create a library. I chose to create one in JavaScript. It made me understand globally how to design a project efficiently. This was a slow process but I am glad I did it. The result is disappointing for me, but that was really worth it and I know where I made my mistakes. One day, when I have the time, I will take it back from scratch and do it the way it should have been done.
                </p>
            </section>
            <section>
                <header>
                    <h3>SYC (Search for Your Content) - <a href="https://github.com/lucasbedout/search-engine">https://github.com/lucasbedout/search-engine</a></h3>
                    <p>Search Engine - C++</p>
                </header>
                <p>
                    During my studies, there was a project I really enjoyed : A search engine. This work took place a while ago, but I worked alone on the crawler part. It had to gather HTML, parse it, extract keywords, parse link and manage the queue for the spiders robots. During this project I encountered problems like : How to communicate with other applications (like the backend, the database, etc.) and algorithm efficiency.
                </p>
                <p>
                    I am ashamed, but this is when I started using github so commit under username "root" are from me.
                </p>
            </section>
        </article>
    </section>
    <div class="separator h"></div>
    <section id="formation">
        <header>
            <h2>
                Training and Competencies
            </h2>
        </header>
        <article>
            <section>
                <header>
                    <h2>
                        Training
                    </h2>
                </header>
                <p>
                    I'm still studying at Supinfo International University - Paris. I am willing to pass my final examinations on october 2017 and obtain a Master of Science.
                </p>
            </section>
            <section>
                <header>
                    <h2>
                        Competencies
                    </h2>
                </header>
                <p>
                    During my studies I have gathered good competencies in :
                </p>
                <ul>
                    <li>
                        Programming concepts (variables, control structures, functions, OOP, algorithms, patterns, separation of concerns, TDD).
                    </li>
                    <li>
                        Vanilla JavaScript
                    </li>
                    <li>
                        HTML / CSS
                    </li>
                    <li>
                        Application Design and conception
                    </li>
                    <li>
                        Linux & Emacs !
                    </li>
                </ul>
                <p>
                    Moreover I have some bases that I am willing to develop in :
                </p>
                <ul>
                    <li>
                        C / C++ concepts (projects done : Choplifter-like game written with SDL in C language & Search engine core written in C++).
                    </li>
                    <li>
                        Go (project done : website to transcode videos).
                    </li>
                    <li>
                        Rust
                    </li>
                    <li>
                        Network (CCNA 1 level)
                    </li>
                    <li>
                        Virtualization (and problematics associated : ByoD, security, App publishing, VDI)
                    </li>
                    <li>
                        PHP
                    </li>
                    <li>
                        Python 2 (& 3)
                    </li>
                    <li>
                        DataBases (and their differencies : SQL, NoSQL)
                    </li>
                    <li>
                        Ruby & Ruby on Rails (norra.fr is made with RoR)
                    </li>
                </ul>
            </section>
        </article>
    </section>
    <div class="separator h"></div>
    <section id="More">
        <header>
            <h2>
                More
            </h2>
        </header>
        <article>
            <section>
                <header>
                    <h3>What do I want ?</h3>
                </header>
                <p>
                    I am currently looking for an internship in London from April to October 2017.
                </p>
            </section>
            <section>
                <header>
                    <h3>What am I willing to do ?</h3>
                </header>
                <p>
                    I can improve my English (as a french guy it is sometimes hard, and I know I make some mistakes).
                </p>
                <p>
                    If my competencies are not what you need, as I am mostly self taught I can always learn new things if the feeling is there. We just need to discuss that.
                </p>
                <p>
                    As I am still in Paris, I can move to London to meet if you want. And obviously if you want me as an Intern I will be moving to London for the time of the internship.
                </p>
            </section>
            <section>
                <header>
                    <h3>My main traits ?</h3>
                </header>
                <p>
                    Motivated, always learning, etc. But really ? I like to think before doing things, and I need to be in a environment that suits me to be effective.
                </p>
                <p>
                    I know how to search on the internet.
                </p>
            </section>
            <section>
                <header>
                    <h3>Some of my code ?</h3>
                </header>
                <p>
                    If you want samples of my code, you can check my github : <a href="https://github.com/FaXaq">https://github.com/FaXaq</a> or mail me.
                </p>
            </section>
            <section>
                <header>
                    <h3>My hobbies</h3>
                </header>
                <p>
                    I play guitar and I play guitar, and sometimes I start a new project ! Oh well and I'm a gamer (ex WoW, ex SC2, and now Overwatch).
                </p>
            </section>
        </article>
    </section>
</article>
