<article class="resume">
  <header>
    <%= image_tag "profile.png", class:"pp" %>
    <div class="legalinfos">
      <h2>Marin Procureur</h2>
      <p>Paris - France</p>
      <p><i>21yo</p>
    </div>
  </header>
  <section class="aboutme">
    <header class="presentation">
      <h2>About me</h2>
    </header>
    <p>
      Passioned about Software Development and the knowledge sharing that is implied in it, I am looking for a professional experience in London from 1st of April until end of October 2017.
    </p>
    <p>
      Even though I am intersted by the technical side of IT I do not forget the human side of it, and benefits that can be taken. This is why during the last two years I have helped at first as a teacher and now as director of studies of <a href="http://blank.bellevillecitoyenne.fr">_blank</a>.
    </p>
    <p>
      I'm mostly self-taught (except for the programming guidelines) on JavaScript which is my predilection programming language.
    </p>
  </section>
</article>
