@import "breakpoint";

nav.actions {
    font-size:1.5em;
    position:fixed;
    top:0;
    right:0;
    > ul > li {
        padding:.5em 0em;
    }
}

@include breakpoint("only print") {
    nav.actions {
        display:none;
    }
}
