#flash-list {
    position:absolute;
    top:20px;
    right:20px;
    > .flash {
        border: 2px solid;
        padding:20px;
        background-color:white;
        margin-bottom:20px;
        max-width:350px;
        &.hidden {
            visibility: hidden;
            opacity: 0;
            transition: visibility 0s 0.3s, opacity 0.3s ease-in-out;
        }
        &.error {
            border-color:red;
            color:red;
            &:before {
                content:"\f05b";
            }
        }
        &.success{
            border-color:green;
            color:green;
            &:before {
                content:"\f00c";
            }
        }
        &.warning{
            border-color:orange;
            color:orange;
            &:before {
            content:"\f12a";
            }
        }
        &.info{
            border-color:blue;
            color:blue;
            &:before {
                content:"\f129";
            }
        }
        &:before{
            font-size:2em;
            display:inline-block;
        }
        > * {
            display:inline-block;
        }
    }
}