@import "font-awesome";
@import "breakpoint";
@import "require/size";
@import "require/vars";

.nav {
    > .element {
        &:not(:last-child) {
        }
        > img.pp {
            border-radius:50%;
            height:100px;
            width:100px;
            padding:2px;
            border:1px solid grey;
        }
        > form {
            display:inline-block;
            margin:auto;
            > input {
                outline:none;
                border:none;
                border-bottom: 1px solid black;
                font-family: $font-family;
                font-size:100%;
                &:focus {
                    border-bottom: 2px solid black;
                }
            }
            > * {
                display:inline;
            }
        }
        padding:1em;
        text-align:right;
        text-transform:uppercase;
        &.socials {
            &:before{
                content:"Socials :";
                display:inline-block;
                font-family:$font-family;
            }
            > ul {
                margin:0px;
                display:flex;
                flex-direction:row;
                justify-content:flex-end;
                > li.social {
                    font-size:inherit;
                    margin-left:10px;
                    &:before {
                        content:"";
                        display:none;
                    }
                    > a {
                        &:hover {
                            color:grey;
                        }
                    }
                }
            }
        }
    }
    display:none;
}

#label-nav-checkbox{
    cursor:pointer;
}

#nav-checkbox {
    display:none;
    &:checked {
        & ~ .nav {
            display:block;
        }
    }
}

.nav-title {
    font-style:bold;
}

.nav-subtitle {
    font-size:75%;
    space-wrap:no-wrap;
    font-style:italic;
    color:grey;
}

input#search {
    content:"test";
    &:before {
        content:"\f002";
        display:inline-block;
        font-family:"FontAwesome";
        color:black;
        margin-right:10px;
    }
}


/*
 responsive
*/

@include breakpoint($medium-lower) {
    #label-nav-checkbox {
        font-size:2em;
    }

    .nav > * {
        font-size:2em;
    }

    .nav-title {
        font-size:1.5em;
        line-height:1.5em;
    }

    .pp {
        zoom:2;
    }
}