@import "breakpoint";
@import "require/size";
@import "require/vars";

.main > .resume {
    font-family:"sans-serif";
    .pp {
        display:inline-block;
        + * {
            display:inline-block;
            padding:.5em;
        }
    }

    b {
        font-weight:600;
    }
    p, li {
        font-size:.9em;
    }

    ul:not(.actions):not(.nav) > li:before {
        font-size:3pt !important;
    }

    section > article {
        padding:.3em;
    }
    div.separator.h:after {
        margin: 25px auto;
    }

    > header {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
}

@include breakpoint("only print") {
    body {
        font-size:0.6em !important;
    }
    .left-pan {
        display:none;
        overflow:none;
    }
    .main {
        overflow:initial;
        p {
            text-align:justify;
        }
        > header > h1, > header > h2, > header > h3, > header > h4 {
            text-transform:uppercase;
            font-weight: bold;
        }
        li {
            margin:.7em 0;
        }
        > section > article > section {
            padding-top:.5em;
        }

        article {
            padding:1em;
        }
    }
    article.resume {
        ul {
            margin:20px !important;
        }
    }
    div.separator.h:after {
        margin:10px auto !important;
    }
}
