@import "require/vars";
@import "require/size";
@import "breakpoint";

table {
    margin:20px auto;
    color:grey;
    width:100%;
    text-align:center;
    > thead {
        > tr {
            > th {
                font-weight: bold;
                padding:1em;
                border-left:2px solid rgb(200, 200, 200);
                border-right:2px solid rgb(200, 200, 200);
            }
        }
        border-bottom:2px solid rgb(130, 130, 130);
    }

    > tbody {
        > tr {
            border:2px solid rgb(130, 130, 130);
            > th {
                font-weight: bold;
                padding:1em;
                border-left:2px solid rgb(200, 200, 200);
                border-right:2px solid rgb(200, 200, 200);
            }
            > td {
                padding:1em;
                border-left:2px solid rgb(200, 200, 200);
                border-right:2px solid rgb(200, 200, 200);
            }
        }
    }
}

@include breakpoint($medium-lower) {
    table {
    margin:20px auto;
    color:grey;
    width:100%;
    text-align:center;
    > thead {
        > tr {
            > th {
                font-weight:bold;
                font-size:$font-size * 2;
                padding:0.3em;
            }
        }
    }

    > tbody {
        > tr {
            > th {
                font-weight: bold;
                font-size:$font-size * 2;
                padding:0.3em;
            }
            > td {
                font-size:$font-size * 2;
                padding:0.3em;
            }
        }
    }
}
}