@import "require/vars";

//Global

body {
    font-family: $font-family;
    line-height: $line-height;
}

.justify {
    text-align:justify;
}


//headers

h1,h2,h3,h4,h5,h6{
    line-height: $line-height;
}

h1 {
    font-size: $font-size * 3;
}

h2 {
    font-size: $font-size * 2.5;
}

h3 {
    font-size: $font-size * 2;
}

h4 {
    font-size: $font-size * 1.75;
}

h5 {
    font-size: $font-size * 1.5;
}

h6 {
    font-size: $font-size * 1.25;
}

header {
    > h1,h2,h3,h4,h5,h6 {
        line-height: normal;
    }
    > p {
        font-size:$font-size;
        line-height:$line-height;
        color:grey;
        font-style: italic;
    }
    > p.date {
        color: black;
        font-size: 1em;
    }
}

//Links

a {
    color:initial;
}

//Pre & code

code {
    display:block;
    margin: 0em 0.25em;
    background: rgba(130, 130, 130, 0.1);
    border:1px solid rgba(130, 130, 130, 0.3);
    border-radius:5px;
    font-family: $code-font-family;
    font-size: $font-size * 0.85;
    line-height: $line-height;
    color:#3F3F3F;
}

pre {
    margin: 1em 0.25em;
    background: rgba(130, 130, 130, 0.1);
    border:1px solid rgba(130, 130, 130, 0.3);
    border-radius:5px;
    font-size:0.85em;
    code {
        background: none;
        border:none;
        margin:0;
        font-size:1em;
    }
}

blockquote {
    padding-left:20px;
    color:grey;
    border-left:3px solid rgba(130, 130, 130, 0.3);
    font-style: italic;
    > p {
        &:before {
            display:inline-block;
            content:"\f10d";
            color: rgba(130, 130, 130, 0.5);
            font-family:"FontAwesome";
            font-size:1.5em;
            padding-right:10px;
        }
    }
}