<nav class="actions">
  <ul class="actions">
    <li><a class="download" onclick="window.print();"></a></li>
    <li><a class="fr" href="?locale=fr"></a></li>
    <li><a class="en" href="?"></a></li>
  </ul>
</nav>
